* {
    background-color: gainsboro;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container {
    display: flex;
    box-shadow: 1px 1px 5px;
    flex-flow: row wrap;
    width: 640px;
    height: 640px;
}

.column {
    display: flex;
    flex: 1;
    flex-direction: column;
}
.row {
    flex: 1;
}

button{
margin-bottom: 5px;
}